<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/8d8b4be0c6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="center">
        <h1>TODO App</h1>
        <!--Form to take Input-->
        <form action="/create-task" method="post">
            <!--Description-->
            <label for="name">Description</label>
            <input required type="text" name="name" id="name" placeholder="What do u want to do?">
            <div>
                <!--Category-->
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="" selected>Select a category</option>
                    <option value="work">Work</option>
                    <option value="college">College</option>
                    <option value="family">Family</option>
                    <option value="personal">Personal</option>
                </select>
                <!--Due Date-->
                <label for="date">Due Date</label>
                <input required type="date" name="date" id="date">
            </div>
            <!--Submit Button-->
            <button type="submit">Add Task</button>
            <!--Delete task which are completed-->
            <button type="button" id="delete"><a href="/delete-task">Delete Tasks</a></button>
        </form>
        <!--List of Tasks-->
        <div id="container">
            <ul >
                <% for(i of Task_list){ %>
                    <li >
                        <div id="checkbox">
                            <% if(i.status){ %>
                                <a href="/update-task/?id=<%=i.id%>" class="completed"><i class="fa-solid fa-square-check"></i></a>
                            <% } else{ %>
                                <a href="/update-task/?id=<%=i.id%>"><i class="fa-solid fa-square"></i></a>
                            <% } %>
                        </div>
                        <div id="date-name">
                            <p><%= i.name %></p>
                            <!--Converting date using moment-->
                            <p><%= moment(i.date).format('ll'); %></p>
                        </div>
                        <div id="priority">
                            <% if(i.category=="work" ){ %>
                                <div class="work">
                                    <p>Work</p>
                                <i class="fas fa-briefcase"></i>
                                </div>
                            <% } else if(i.category=="college" ){ %>
                                <div class="college">
                                    <p>College</p>
                                <i class="fas fa-book-reader"></i>
                                </div>
                            <% } else if(i.category=="family" ){ %>
                                <div class="family">
                                    <p>Family</p>
                                <i class="fas fa-home"></i>
                                </div>
                            <% } else if(i.category=="personal" ){ %>
                                <div class="personal">
                                    <p>Personal</p>
                                    <i class="fa-solid fa-person"></i>
                                </div>
                            <% } %>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
    <script>
        //Function to convert date into specifed format
        function convertDate(date) {
            var date = new Date(date);
            return date.toDateString();
        }
    </script>
</body>

</html>